{% set url = get_url(path="@/_index.md") %}
<nav class="navbar navbar-expand navbar-dark bg-dark flex-column flex-sm-row fixed-top">
  <a class="navbar-brand mr-0" href="{{ url }}">{{ config.extra.judul }}</a>

  <ul class="navbar-nav ml-md-auto">
    <li class="nav-item mx-1">
      <a class="nav-link" href="https://youtube.com/c/ArizalAkbarZikri"
         rel="nofollow"
         target="_blank">
        <i class="fab fa-youtube" style="font-size: 17px; color: white"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link mx-1" href="https://github.com/akbarpn136"
         rel="nofollow"
         target="_blank">
        <i class="fab fa-github" style="font-size: 17px; color: white"></i>
      </a>
    </li>
  </ul>
</nav>