{% import "macros/posting.html" as post %}

<!doctype html>
<html lang="en">
{% include "partials/header.html" %}
<body>

{% block container %}

{% include "partials/navbar.html" %}

{% block hero %}
{% include "partials/hero.html" %}
{% endblock hero %}

<div class="container">
  {% block row %}
  <div class="row my-5">
    <div class="col-md-8">
      {% block article %}
      {% for page in paginator.pages %}
        {{ post::build_posting(page=page) }}
      {% endfor%}
      <!-- Paginator -->
      <div class="clearfix">
        {% if paginator.previous %}
        <a class="btn btn-primary float-left" href="{{ paginator.previous }}"> &larr; Tutorial Baru</a>
        {% endif %}
        {% if paginator.next %}
        <a class="btn btn-primary float-right" href="{{ paginator.next }}">Tutorial Lama &rarr;</a>
        {% endif %}
      </div>
      {% endblock article %}
    </div>
    <div class="col-md-4">
      {% block sidebar %}
      <h4 class="text-uppercase">Kategori Tutorial</h4>

      <div class="list-group list-group-flush">
      {% set categories = get_taxonomy(kind="kategori") %}
      {% for item in categories.items%}
        <a href="{{ item.permalink }}" class="list-group-item list-group-item-action text-capitalize">
          {{ item.name | replace(from="-", to=" ") }}
        </a>
      {% endfor %}
      </div>

      <div class="my-4"></div>
      <h4 class="text-uppercase">Kata Kunci</h4>

      {% set slugs = get_taxonomy(kind="kaitan") %}
      {% for slug in slugs.items%}
      <a href="{{ slug.permalink }}" class="badge badge-dark">#{{ slug.name }}</a>
      {% endfor %}
      {% endblock sidebar %}
    </div>
  </div>
  {% endblock row %}
</div>
{% endblock container %}

{% include "partials/footer.html" %}